<div class="container">
  <h1>Users</h1>
  <% unless @users.empty?%>
    <% @users.each do |user| %>
        <a href="/users/<%= user.id%>" class="text-decoration">
            <%= render 'shared/user', user: user %>
        </a>
   <% end %>
   <%end%>
       <p>Sign up or Sign in and see </p> 
         <%= link_to 'Sign up', new_user_registration_path%>
         <%= link_to 'Sign In', new_user_session_path%>
</div>