<% if @users.empty? %>
  <h3>Please Add Users</h3>
<% end %>
<div class="container">
    <% @users.each do |user| %>
        <a href="/users/<%= user.id%>" class="text-decoration">
            <%= render 'shared/user', user: user %>
        </a>
   <% end %>    
</div>