<div class="user-card"> 
    <div>
        <img src ="<%= user.photo %>" alt="user_image">
    </div>
    <div class="typograph">
        <h3><%= user.name%></h3>
        <h5>Number of posts: <%=user.posts_counter%></h5>
    </div>
</div>
